Repository MLH-Fellowship/fellow-dashboard, pull requests merged in 2021-09, with the labels that each got.

#6 init basic REST API
  backend/api.py
Labels: Flask, API

#10 Readme updates
  README.md
Labels: documentation

#22 scratchpad post->put + implement get method
  backend/api.py
  backend/widgets/scratchpad.py
Labels: enhancement, API
